
<style>
  .media.media--transparent22 {
    height: 100%;
    width: 100% !important;
    position: initial !important;
        background: transparent !important;
}
.med
  .column-2 {
    width: 50%;
}
  .column-1 {
    width: 50%;
}
  .row-flex {
    display: flex;
}
 img.motion-reduce.ggg.pop-up-pro-image {
    width: 86%;
    height: 163px;
}

  img.close-popup-icon {
    position: absolute;
    left: 63%;
    width: 20px;
    top: 22px;
}
  .pop-up-content {
    padding: 20px 20px;
}
  .card__information.pop-up-cont {
    width: 32%;
    margin: auto;
    background: white;
    padding: 9px;
}
  img.plus-popup-icon {
    width: 7% !important;
    position: absolute;
    height: 6% !important;
    top: 50% !important;
    left: 20% !important;
    z-index: 2;
}
  #grid-pro-popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  .card__heading a:after {
    content:none !important;
  }
  product-info#MainProduct-quickadd-template--23000187568430__main {
    display: none;
}
  .popupadd-{{ card_product.id }} {
    display: flex;
    flex-direction: column;
}

.product-details {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.product-image {
    flex: 1;
    margin-right: 20px;
}

.product-image img {
    max-width: 100%;
    height: auto;
}

.product-info {
    flex: 2;
}

.product-info h2 {
    margin-top: 0;
}

.product-info p {
    margin: 10px 0;
}

.product-form {
    display: flex;
    flex-direction: column;
}

.variant-selectors {
    margin-bottom: 20px;
}

.variant-selectors select {
    width: 100%;
    padding: 5px;
}

/* button[type="submit"] {
    align-self: flex-start;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
} */

/* button[type="submit"]:hover {
    background-color: #333;
} */


  .product__description.rte.quick-add-hidden {
    display: block !important;
}
  .product-form__quantity {
    display: none !important;
}
  .product-form__submit {
    margin-bottom: 1rem;
    background: #121212;
    color: #fff;
}
  button.shopify-payment-button__button.shopify-payment-button__button--unbranded {
    display: none;
}
</style>
{%- unless skip_styles -%}
  {{ 'component-rating.css' | asset_url | stylesheet_tag }}
  {{ 'component-volume-pricing.css' | asset_url | stylesheet_tag }}

  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'quick-order-list.css' | asset_url | stylesheet_tag }}
  {{ 'quantity-popover.css' | asset_url | stylesheet_tag }}
{%- endunless -%}
{%- liquid
  assign product_form_id = 'product-form-' | append: section.id
-%}
{%- if card_product and card_product != empty -%}
  {%- liquid
    assign ratio = 1
    if card_product.featured_media and media_aspect_ratio == 'portrait'
      assign ratio = 0.8
    elsif card_product.featured_media and media_aspect_ratio == 'adapt'
      assign ratio = card_product.featured_media.aspect_ratio
    endif
    if ratio == 0 or ratio == null
      assign ratio = 1
    endif
  -%}
  <div class="card-wrapper product-card-wrapper">
    <div
      class="
        card card--{{ settings.card_style }}
        {% if card_product.featured_media %} card--media{% else %} card--text{% endif %}
        {% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }} gradient{% endif %}
        {% if image_shape and image_shape != 'default' %} card--shape{% endif %}
        {% if extend_height %} card--extend-height{% endif %}
        {% if card_product.featured_media == nil and settings.card_style == 'card' %} ratio{% endif %}
        {% if horizontal_class %} card--horizontal{% endif %}
      "
      style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
    >
      <div
        class="card__inner {% if settings.card_style == 'standard' %}color-{{ settings.card_color_scheme }} gradient{% endif %}{% if card_product.featured_media or settings.card_style == 'standard' %} ratio{% endif %}"
        style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
      >
        {%- if card_product.featured_media -%}
          <div class="card__media grid-product-media{% if image_shape and image_shape != 'default' %} shape--{{ image_shape }} color-{{ settings.card_color_scheme }} gradient{% endif %}">
           <h1>hhhh</h1>
            
            <div class="media media--transparent22">
             <img src="https://cdn.shopify.com/s/files/1/0885/9539/8958/files/Component_156_1.png?v=1720037743" class="plus-popup-icon">
              <img
                srcset="
                  {%- if card_product.featured_media.width >= 165 -%}{{ card_product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 360 -%}{{ card_product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 533 -%}{{ card_product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 720 -%}{{ card_product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 940 -%}{{ card_product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 1066 -%}{{ card_product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                  {{ card_product.featured_media | image_url }} {{ card_product.featured_media.width }}w
                "
                src="{{ card_product.featured_media | image_url: width: 533 }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                alt="{{ card_product.featured_media.alt | escape }}"
                class="motion-reduce ggg"
                {% unless lazy_load == false %}
                  loading="lazy"
                {% endunless %}
                width="{{ card_product.featured_media.width }}"
                height="{{ card_product.featured_media.height }}"
              >
              {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}

              {%- if card_product.media[1] != null and show_secondary_image -%}
                <img
                  srcset="
                    {%- if card_product.media[1].width >= 165 -%}{{ card_product.media[1] | image_url: width: 165 }} 165w,{%- endif -%}
                    {%- if card_product.media[1].width >= 360 -%}{{ card_product.media[1] | image_url: width: 360 }} 360w,{%- endif -%}
                    {%- if card_product.media[1].width >= 533 -%}{{ card_product.media[1] | image_url: width: 533 }} 533w,{%- endif -%}
                    {%- if card_product.media[1].width >= 720 -%}{{ card_product.media[1] | image_url: width: 720 }} 720w,{%- endif -%}
                    {%- if card_product.media[1].width >= 940 -%}{{ card_product.media[1] | image_url: width: 940 }} 940w,{%- endif -%}
                    {%- if card_product.media[1].width >= 1066 -%}{{ card_product.media[1] | image_url: width: 1066 }} 1066w,{%- endif -%}
                    {{ card_product.media[1] | image_url }} {{ card_product.media[1].width }}w
                  "
                  src="{{ card_product.media[1] | image_url: width: 533 }}"
                  sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                  alt=""
                  class="motion-reduce"
                  loading="lazy"
                  width="{{ card_product.media[1].width }}"
                  height="{{ card_product.media[1].height }}"
                >
              {%- endif -%}
              
            </div>
          </div>
        {%- endif -%}
      </div>
      <div class="card__content ddd grid-pro-popup" id="grid-pro-popup">
      <div class="card__information pop-up-cont">
  <img src="https://cdn.shopify.com/s/files/1/0885/9539/8958/files/Group_1000008134.png?v=1720348134" class="close-popup-icon">
        <div class="pop-up-content">
          <div class="row-flex">
          <div class="column-1">
  <img  srcset="{{ card_product.featured_media | image_url }} {{ card_product.featured_media.width }}w
                "src="{{ card_product.featured_media | image_url: width: 533 }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                alt="{{ card_product.featured_media.alt | escape }}"
                class="motion-reduce ggg pop-up-pro-image"
                {% unless lazy_load == false %}
                  loading="lazy"
                {% endunless %}
                width="{{ card_product.featured_media.width }}"
                height="{{ card_product.featured_media.height }}">
          </div>
          <div class="column-2">
    <h3
      class="card__heading{% if card_product.featured_media or settings.card_style == 'standard' %} h5{% endif %}"
      {% if card_product.featured_media or settings.card_style == 'card' %}
        id="title-{{ section_id }}-{{ card_product.id }}"
      {% endif %}
    >
      <span
        id="CardLink-{{ section_id }}-{{ card_product.id }}"
        class="full-unstyled-link"
        aria-labelledby="CardLink-{{ section_id }}-{{ card_product.id }} Badge-{{ section_id }}-{{ card_product.id }}"
      >
        {{ card_product.title | escape }}
      </span>
    </h3>
             {% render 'price', product: card_product, price_class: '', show_compare_at_price: true %}
      <span class="description">{{ card_product.description }}</span>
  </div>
        </div>
    <div class="card-information">    
     {% if card_product.variants.size > 1 %}
    <div class="variant-selectors">
      <label for="size-select">Sizes</label>
      <select name="size">
        {% assign seen_sizes = '' %}
        {% for variant in card_product.variants %}
          {% unless seen_sizes contains variant.option1 %}
            {% assign seen_sizes = seen_sizes | append: variant.option1 | append: ',' %}
            <option value="{{ variant.id }}">{{ variant.option1 }}</option>
          {% endunless %}
        {% endfor %}
      </select>
      <label for="color-select">Colors</label>
      <select name="color">
        {% assign seen_colors = '' %}
        {% for variant in card_product.variants %}
          {% unless seen_colors contains variant.option2 %}
            {% assign seen_colors = seen_colors | append: variant.option2 | append: ',' %}
            <option value="{{ variant.id }}">{{ variant.option2 }}</option>
          {% endunless %}
        {% endfor %}
      </select>
    </div>
        <button type="submit" class="animatedbutton2" id="add-product">Add to Cart <span>{% render 'icon-arrow' %}</span></button>
       {% endif %}
      
    </div>
  </div>
  </div>
</div>
    </div>
  </div>
 
</div>
{%- else -%}
{%- endif -%}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const popupIcons = document.querySelectorAll('.plus-popup-icon');
    const popupbox = document.getElementById('grid-pro-popup');

    popupIcons.forEach(icon => {
        icon.addEventListener('click', function() {
            console.log('Image clicked!');
            popupbox.style.display = "block";
            document.body.style.overflow = 'hidden';
        });
    });

    const closeicon = document.querySelector('.close-popup-icon');
    closeicon.addEventListener('click', function() {
        console.log('popup-close');
        popupbox.style.display = "none";
        document.body.style.overflow = 'auto';
    });
});


</script>

