<div class="custom-section">
  <div class="custom-grid">
  
    <div class="grid-text">
      
      <div class="custom-text pad-l">
        <h2>{{ section.settings.heading }}</h2>
        <p>{{ section.settings.text }}</p>
        <button class="animatedbutton2"><a href="{{ section.settings.button_link }}" >{{ section.settings.button_label }}{% render 'icon-arrow' %}</a></button>
      </div>
    </div>
      <div class="grid-image">
         <img src="{{ section.settings.image | image_url}}" alt="Custom Image" class="custom-image">
    </div>
  </div>
</div>

<style>
  .pad-l {
    padding-left:40px !important;
  }
  .custom-section {
    padding: 0px 20px;
    background-color: #f9f9f9;
  }
  .custom-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px;
    width: 100%;
    margin: 0 auto;
  }
  .grid-image, .grid-text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .custom-image {
    width: 100%;
    height: auto;
    display: block;
  }
  .custom-text {
    text-align: left;
  }
</style>

{% schema %}
  {
    "name": "Section name",
    "settings": [
      {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.image-with-text.blocks.heading.settings.heading.default",
          "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
        },
     {
          "type": "richtext",
          "id": "text",
          "default": "t:sections.image-with-text.blocks.text.settings.text.default",
          "label": "t:sections.image-with-text.blocks.text.settings.text.label"
        },
      {
          "type": "text",
          "id": "button_label",
          "default": "t:sections.image-with-text.blocks.button.settings.button_label.default",
          "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
          "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        },
       {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-with-text.settings.image.label"
    },
    ],
    "presets": [
      {
        "name":"Custom-Text-and-banner"
      }
    ]
  }
{% endschema %}