<div class="main-container">
  <div class="grid-products">
    {% for block in section.blocks %}
        {% if block.type == 'product' %}
    <div class="product-items">    
          {% render 'product-custom-popup',
              card_product: block.settings.product,
              section_id: section.id,
              quick_add: section.settings.quick_add
            %}
     <div class="popupadd-{{ card_product.id }} quick-add-modal__content-info">
  <div class="product-details">
    <div class="product-image">
      <img src="{{ card_product.featured_media | image_url }}">
    </div>
    <div class="product-info">
      <h2>{{ card_product.title }}</h2>
      <p>{{ card_product.description }}</p>
        <p>{{ card_product.variants.first.price | money }}</p>
   
    </div>
  </div>

<form class="product-form" action="/cart/add" method="post" enctype="multipart/form-data">
  {% if card_product.variants.size > 1 %}
    <div class="variant-selectors">
      <label for="size-select">Sizes</label>
      <select name="id">
        {% assign seen_sizes = '' %}
        {% for variant in card_product.variants %}
          {% unless seen_sizes contains variant.option1 %}
            {% assign seen_sizes = seen_sizes | append: variant.option1 | append: ',' %}
            <option value="{{ variant.id }}">{{ variant.option1 }}</option>
          {% endunless %}
        {% endfor %}
      </select>
      <label for="color-select">Colors</label>
      <select name="id">
        {% assign seen_colors = '' %}
        {% for variant in card_product.variants %}
          {% unless seen_colors contains variant.option2 %}
            {% assign seen_colors = seen_colors | append: variant.option2 | append: ',' %}
            <option value="{{ variant.id }}">{{ variant.option2 }}</option>
          {% endunless %}
        {% endfor %}
      </select>
    </div>
  {% else %}
    <input type="hidden" name="id" value="{{ card_product.variants.first.id }}">
  {% endif %}
  <button type="submit" class="animatedbutton2" id="add-product">Add to Cart <span>{% render 'icon-arrow' %}</span></button>
</form>





</div>
        <product-form data-section-id="{{ section.id }}">
                {%- form 'product',
                  card_product,
                  id: product_form_id,
                  class: 'form',
                  novalidate: 'novalidate',
                  data-type: 'add-to-cart-form'
                -%}
                  <input
                    type="hidden"
                    name="id"
                    value="{{ card_product.selected_or_first_available_variant.id }}"
                    class="product-variant-id"
                    {% if card_product.selected_or_first_available_variant.available == false %}
                      disabled
                    {% endif %}
                  >
                  <button
                    id="{{ product_form_id }}-submit"
                    type="submit"
                    name="add"
                    class="quick-add__submit button button--full-width button--secondary{% if horizontal_quick_add %} card--horizontal__quick-add{% endif %}"
                    aria-haspopup="dialog"
                    aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                    aria-live="polite"
                    data-sold-out-message="true"
                    {% if card_product.selected_or_first_available_variant.available == false %}
                      disabled
                    {% endif %}
                  >
                    <span>
                      {%- if card_product.selected_or_first_available_variant.available -%}
                        {{ 'products.product.add_to_cart' | t }}
                      {%- else -%}
                        {{ 'products.product.sold_out' | t }}
                      {%- endif -%}
                    </span>
                    <span class="sold-out-message hidden">
                      {{ 'products.product.sold_out' | t }}
                    </span>
                    {%- if horizontal_quick_add -%}
                      <span class="icon-wrap">{% render 'icon-plus' %}</span>
                    {%- endif -%}
                    {%- render 'loading-spinner' -%}
                  </button>
                {%- endform -%}
              </product-form>
    </div>
      {% endif %}
      {% endfor %}
  </div>
</div>
<style>
  /* Style the popup */
.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

  img.plus-popup-icon {
    position: absolute;
    z-index: 1;
    width: 23px;
    top: 50%;
    left: 74%;
}
  .grid-products {
    display: flex !important;
    flex-wrap: wrap;
}
 .product-items {
    width: 32%;
    margin: 10px auto !important;
}
  .grid-products {
    padding: 83px;
}
</style>
<script>
 document.addEventListener('DOMContentLoaded', function() {
    // Get the image and popup elements
    var image = document.querySelector('.plus-popup-icon');
    var popup = document.getElementById('popup');
    var closeBtn = document.querySelector('.close');

    // When the image is clicked, open the popup
    image.addEventListener('click', function() {
        popup.style.display = 'block';
      alert('hhhh')
    });

    // When the close button is clicked, close the popup
    closeBtn.addEventListener('click', function() {
        popup.style.display = 'none';
    });

    // When clicking outside the popup content, close the popup
    window.addEventListener('click', function(event) {
        if (event.target === popup) {
            popup.style.display = 'none';
        }
    });
   alert('ww')
});

</script>
{% schema %}
{
  "name": "Grid Column Section",
  "settings": [
      {
      "type": "select",
      "id": "quick_add",
      "default": "none",
      "label": "t:sections.main-collection-product-grid.settings.quick_add.label",
      "info": "t:sections.main-collection-product-grid.settings.quick_add.info",
      "options": [
        {
          "value": "none",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_1"
        },
        {
          "value": "standard",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_2"
        },
        {
          "value": "bulk",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_3"
        }
      ]
    },
  ],
  "blocks": [
    {
      "type": "product",
      "name": "t:sections.collage.blocks.product.name",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "t:sections.collage.blocks.product.settings.product.label"
        },
        {
          "type": "checkbox",
          "id": "second_image",
          "label": "Show Secondary Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "grid-column-section"
    }
  ]
}
{% endschema %}
